*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: #111;

}

.playerBlock{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: space-between;
}

.playerBlock .card{
    width: 24%;
    margin-bottom: 10px;
}

img{
  width: 100%;
  height: 200px;
  object-fit: cover;

}